extends ../layouts/default

mixin tour(tour)
	.tour.clearfix(data-ks-editable=editable(user, { list: 'Tour', id: tour.id }))
		h2: a(href='/tours/tour/' + tour.slug)= tour.title
		p.lead.text-muted Added 
			if tour.publishedDate
				| on #{tour._.publishedDate.format('MMMM Do, YYYY')}
		article.clearfix
			if tour.description.brief
				p!= tour.description.brief
			if tour.description.extended
				p.read-more: a(href='/tours/tour/' + tour.slug) Read more...
		hr(style='margin-top:20px')

block intro
	.container
		h1= 'Tours'

block content
	.container: .row
		.col-sm-8.col-md-9
			if data.tours.results.length
				if data.tours.totalPages > 1
					h4.text-weight-normal Showing 
						strong #{data.tours.first}
						|  to 
						strong #{data.tours.last}
						|  of 
						strong #{data.tours.total}
						|  tours.
				else
					h4.text-weight-normal Showing #{utils.plural(data.tours.results.length, '* tour')}.
				.tours
					each tour in data.tours.results
						+tour(tour)

				if data.tours.totalPages > 1
					ul.pagination
						if data.tours.previous
							li: a(href='?page=' + data.tours.previous): span.glyphicon.glyphicon-chevron-left
						else
							li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
						each p, i in data.tours.pages
							li(class=data.tours.currentPage == p ? 'active' : null)
								a(href='?page=' + (p == '...' ? (i ? data.tours.totalPages : 1) : p ))= p
						if data.tours.next
							li: a(href='?page=' + data.tours.next): span.glyphicon.glyphicon-chevron-right
						else
							li.disabled: a(href='?page=' + data.tours.totalPages): span.glyphicon.glyphicon-chevron-right
			else
				h3.text-muted There are no tours yet.
